.main-container {
    width: 100%;
    max-width: 1000px;
    margin-top: 45px;
}

body {
    text-align: center;
}

form {
    display: inline-block;
    width: 300px;
}

input {
    margin-bottom: 25px;
}

.avatares {
    width: 100%;
    max-width: 350px;
}

.avatares>[type=radio] {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.avatares>[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    display: inline-block;
    width: 49%;
    height: 150px;
    background-size: cover;
}

.avatares>[type=radio]+.katara {
    background-image: url('../img/katara.png');
}

.avatares>[type=radio]+.aang {
    background-image: url('../img/aang.png');
}

.avatares>[type=radio]+.toph {
    background-image: url('../img/toph.png');
}

.avatares>[type=radio]+.zuko {
    background-image: url('../img/zuko.png');
}

.avatares>[type=radio]:checked+label {
    outline: 3px solid #ffffff;
}