@media only screen and (min-width: 1400px) {
    .user-box {
        width: 450px;
    }

    .dashboard {
        width: 100%;
    }
}

body { 
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 20px;
}

/* .navbar {
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: #15202b;
} */

.user-box {
    display: block;
    height: 130px;
    background-color: #15202b;
    border: 1px solid #5372ac;
}

.user-box > * {
    display: inline-block;
    padding: 0;
}

.user-box > .user-icon {
    margin: 15px 20px 0 15px;
}

.user-box > .user-icon > img {
    width: 75px;
    height: 75px;
    border-radius: 50%
}

.user-box > .user-info {
    position: absolute;
    top: 55px;
}

.user-box > .user-info > .user-nick {
    margin: 0;
    color: #bdc3c7;
}

.user-box > .user-info > .user-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.dashboard {
    min-height: 400px;
    background-color: #15202b;
    border: 1px solid #5372ac;
}