@media only screen and (min-width: 1400px) {
    main {
        margin-top: 100px;
    }
}

.logo {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.form-container {
    text-align: center;
    font-weight: bold;
    background:#5372ac;
    border: 2px solid #4f98c9;
    border-radius: 3%;    
    padding:30px;
    width: 270px;
    margin: 0 auto;
}