@media only screen and (min-width: 1400px) {
    main {
        margin-top: 100px;
    }
}

.logo {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.form-container {
    text-align: center;
    font-weight: bold;
    background:#5372ac;
    border: 2px solid #4f98c9;
    border-radius: 3%;    
    padding:30px;
    width: 270px;
    margin: 0 auto;
}

.form-link {
    display: block;
    margin-top: 5px;
}

input {
    width: 200px;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #999999;
}

input:focus{
    border: 2px solid #63a4cf;
}
